<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaría de Educación - Solicitud de cupo escolar</title>
    <link rel = "preconnect" href = "https://fonts.gstatic.com">   
    <link rel="icon" type="image/vnd.microsoft.icon" href="/imgs/assets/icons/menu.png" sizes="16x16 24x24 36x36 48x48">
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">  
    <script src="https://kit.fontawesome.com/252d0ee970.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="nav-top-main">
            <nav class="nav-principal-botton">
                   <div class="nav-header">
                   <button class="iconmenu" id="menubar"><i class="fa-solid fa-bars"></i></button> 
                <a class="nav-brand" href="DEMO1.html">
                    <img src="/imgs/assets/img/logo.png" alt="Logo de la Alcaldía ">
                </a>
                    <ul class="menu" id="menu">
                        <li class="menu__item"><a href="#" class="menu__link"><i class="fa-solid fa-house-chimney"></i></a></li>      
                        <li class="menu__item"><a href="#" class="menu__link">Solicitud de cupo escolar</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Consulta de solicitud</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Ingreso administrador</a></li>
                     </ul>
                   </div>
            </nav>
        </div>
    </header>
    <main>
     <section class="section">
        <div class="container">
            <div class="row">
                <div class="rowprincipal" style="text-align:center;">
                        <img src="/imgs/assets/img/logo grande.png" alt="Logo la Alcaldia de Santiago de Cali" height="100px">
                    </a>
                    <div class="row">
                        <div class="Titulopaginaprincipal">
                            <h2>Secretaría de Educación</h2>
                            <h1>Solicitud de cupo escolar</h1>
                            <hr class="colorgraph" style="align-content: center;">
                            <div class="panelprimario">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"></div>
                                    <div class="panel-body" style="text-align: justify;">
                                        <p>
                                            Para iniciar el proceso de solicitud de cupo escolar en las Instituciones Educativas Oficiales de Santiago de Cali, ingrese el tipo y número de documento de identificación del estudiante, y haga clic en el botón Continuar.
                                        </p>
                                        <form class="form-student" id="form-student" role="form" style="text-align: center;">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="document" for="typeDocument" style="text-align: left;font-size: 14px;font-family: Helvetica, sans-serif;color: #333333;">Tipo de documento</label>
                                                    <div class="typeDocument">
                                                        <select id="typeDocument" name="typeDocument" class="form-control">
                                                            <option value="1">Cédula de ciudadanía</option><option value="2">Cédula de extranjería</option><option value="3">Registro Civil
                                                            </option><option value="5">Pasaporte</option><option value="4" selected>Tarjeta de identidad</option>                           
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 15px;">
                                                <div class="form-group">
                                                    <label class="numero-label" for="uid" style="text-align: left;font-size: 14px;font-family: Helvetica, sans-serif;color: #333333;">Número de documento
                                                        <br>
                                                        <span class="ingrese-solo-numeros" style="font-size: 12px;color: #737373;">Ingrese solo números</span>
                                                    </label>
                                                    <div class="numero-documento">
                                                        <input id="uid" name="uid" type="text" placeholder="Número de documento del estudiante" class="form-control input-md" required>
                                                        <div class="botoncontinuar">
                                                           
                                                              <button type="button-continuar" id="startProcess" name="startProcess" class="btn-primary">
                                                              <a href="/formulario">Continuar</a></button>
                                                         </div>
                                                         <div class="botonlimpiar">
                                                             <button type="button-limpiar" id="btn-cancel" name="btn-cancel" class="btn-cancel">Limpiar</button>
                                                         </div>
                                                    </div>      
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                    </div>
                </div>
            </div>
        </div>     
      </section>
    </main>
    <footer>
        <span>Alcaldía de Santiago de Cali - Secretaría de Educación<br></span>
        <u>
            <a style="color: #fff; " href="https://www.cali.gov.co/informatica/publicaciones/1344/polticas_seguridad_de_la_informacin/" target="_blank" title="Alcaldía de Santiago de Cali">Políticas de seguridad de la información y protección de datos personales</a>
        </u>
        <br>
        <span>Todos los Derechos Reservados © 2020</span>
    </footer>             
</body>
<script src="/js/menu.js"></script>
<!-- <script>
function myFunction(){
    menu.classList.toggle("mostrar");
}
x=document.getElementById("menubar");
y=document.getElementById("menu");
x.addEventListener("click",myFunction)
</script>  --> 
</html>

